body {
  margin: 0;
  overflow: hidden;
  background: #eee;
  font-family: Courier, monospace;
  font-size: 14px;
  background-color: #000;
}

#c {
  display: block;
  margin: calc(50vh - 175px) auto;
}
